@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 35%; } }

body {
  font-family: "Roboto", sans-serif;
  background-color: powderblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem; }

img {
  width: 100%;
  height: auto; }

.game-title {
  text-align: center;
  color: #000;
  font-size: 45px;
  padding: 2rem; }

.game-box {
  background-color: white;
  height: 100%;
  width: 60vw;
  padding: 2rem;
  border: 2px solid black;
  overflow: hidden;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px; }
  @media only screen and (max-width: 50em) {
    .game-box {
      grid-template-columns: 1fr; } }

.game-name {
  font-size: 3.5rem; }

.game-information {
  font-size: 2rem;
  font-weight: 200;
  padding: 1rem;
  line-height: 30px;
  list-style-type: square; }

.game-photo {
  object-fit: cover;
  width: 100%;
  height: 100%; }
